# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "docker"
    directory: "/app"
    schedule:
      interval: "weekly"
  - package-ecosystem: "nuget"
    directory: "/app"
    schedule:
      interval: "weekly"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
  - package-ecosystem: "terraform"
    directory: "/infra/01. terraform-state"
    schedule:
      interval: "weekly"
  - package-ecosystem: "terraform"
    directory: "/infra/02. eks"
    schedule:
      interval: "weekly"  
  - package-ecosystem: "terraform"
    directory: "/infra/03. fargate"
    schedule:
      interval: "weekly"  
